body {
	margin: 20px 100px;
}

/****************
List Component
****************/
input {
	font-size: 20px;
	height: 25px;
	width: 500px;
}

input.warning {
	border: 3px solid red;
}

button.add-item {
	margin-left: 5px;
	width: 120px;
	font-size: 20px;
	font-weight: bold;
}

p.error-msg {
	color: purple;
}

/*******************
ItemsList Component
********************/
li.list-new, li.list-done {
	display: flex;
	flex-wrap: wrap;
}

li.list-done {
	 text-decoration: line-through;
}

.to-do-list li {
	list-style-type: none;
	margin: 10px 0;
}

input[type=checkbox] {
  transform: scale(1.7);
}

input.checkbox {
	width: 20px;
	margin-right: 5px;
}

button.delete {
	width: 25px;
	height: 25px;
	border-radius: 5px;
}

p.list-text {
	margin-left: 5px;
}

