body {
	margin: 20px 100px;
}

/****************
List Component
****************/
input {
	font-size: 20px;
	height: 25px;
	width: 668px;
}

input.warning {
	border: 3px solid red;
}

button.add-item {
	margin-left: 5px;
	width: 120px;
	font-size: 20px;
	font-weight: bold;
}

p.error-msg {
	color: purple;
}

/*******************
ItemsList Component
********************/
div.to-do-list {
	display: inline-flex;
}

.to-do-list li, .you-done-list li {
	list-style-type: none;
	margin: 10px 0;
}

input[type=checkbox] {
  transform: scale(1.7);
}

input.checkbox {
	width: 20px;
	margin-right: 5px;
}

button.delete {
	width: 25px;
	height: 25px;
	border-radius: 5px;
	overflow: hidden;
	text-align: center;
}

p.list-text, p.list-date {
	margin-left: 18px;
}

li.list-new {
	display: inline-flex;
}

/*******************
ItemsDone Component
********************/
li.list-done {
	 text-decoration: line-through;
}

div.rem-sect, div.done-sect {
	width: 794px;
	height: 250px;
	border: 2px solid lightgrey;
	overflow-y: scroll;
	scroll-behavior: smooth;
}


