body {
	margin: 20px 100px;
	background-image: url('background-mount.jpg');
	background-size: cover;
}

div.ui.container {
	padding: 10px;
	background-color: white;
	opacity: 0.8;
	overflow: hidden;
}
/****************
List Component
****************/
input {
	font-size: 20px;
	height: 25px;
	width: 520px;
}

input.normal {
	margin-left: 82px;
}

input.expiry-field {
	margin-left: 17px;
}

input.warning {
	border: 3px solid red;
}

button.add-item {
	margin-left: 5px;
	width: 120px;
	font-size: 20px;
	font-weight: bold;
}

p.error-msg {
	color: purple;
}

/*******************
ItemsList Component
********************/
.you-done-list li {
	list-style-type: none;
	margin: 10px 0;
}

table {
table-layout: fixed;
}

th, td {
  padding: 10px;
  text-align: center;
}

input[type=checkbox] {
  transform: scale(1.7);
}

input.checkbox {
	width: 20px;
	margin-right: 5px;
}

button.delete {
	width: 25px;
	height: 25px;
	border-radius: 5px;
	overflow: hidden;
	text-align: center;
}


/*******************
ItemsDone Component
********************/
li.list-done {
	 text-decoration: line-through;
}

div.rem-sect, div.done-sect {
	width: 778px;
	height: 250px;
	padding: 7px;
	border: 2px solid lightgrey;
	overflow-y: scroll;
	scroll-behavior: smooth;
}


